# Database Configuration
DB_HOST=localhost
DB_NAME=e_commerce_sami
DB_USER=root
DB_PASSWORD=''

# Application Configuration
APP_ENV=development
APP_DEBUG=true
APP_SECRET=your_secret_key

# Email Configuration (if needed)
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=your_email/your_Username
MAIL_PASSWORD=your_email_password
